*{
    margin: 0;
    padding: 0;
    font-family: SpotifyMixUI-Regular, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
}

@font-face {
    font-family: SpotifyMixUITitle;
    src: url('/static/font/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2') format('woff2');
}

@font-face {
    font-family: 'SpotifyMixUITitle';
    src: url('/static/font/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpotifyMixUI';
    src: url('../font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2') format('woff2');
}

body{
    background: #121212;
}

.container{
    width: 380px;
    padding: 0px 28px;
    margin: auto;
    text-align: center;
}

.logo{
    width: 52px;
    height: 50px;
    padding: 50px 0px 0px;
    margin: auto;
    margin-bottom: 0;
    overflow: hidden;
}

.logo img{
    width: 100%;
}

h1{
    color: white;
    font-family: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
    display: block;
    font-size: 2em;
    font-weight: 700;
    unicode-bidi: isolate;
    margin-top: 0;
    line-height: 1;
}

form{
    padding: 20px;
    text-align: left;
    margin-top: 4px;
}

.icon-btn{
    all: unset;
    width: 320px;
    padding: 12px;
    margin: 4px 0px;
    border: 1px solid #cccccc;
    color: white;
    font-family: title;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden;
}

.icon-btn img{
    width: 20px;
    float: left;
    margin-left: 12px;
}

.icon-btn:hover{
    border: 1px solid white;
}

.line{
    width: 100%;
    height: 0.3px;
    margin: 32px 0px;
    text-align: center;
    background: #cccccc;
    opacity: 0.5;
}

label{
    color: white;
    position: relative;
    top: 4px;
    font-size: 13px;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 12px 0px;
    padding-left: 8px;
    margin: 12px 0px;
    border-radius: 6px;
    background: none;
    border: 1px solid #cccccc;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

input:hover{
    border: 1px solid white;
}

.next{
    all: unset;
    width: 320px;
    padding: 12px;
    margin: 16px 0px;
    background: #1ed760;
    color: #121212;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
}

.forget{
    text-align: center;
    margin: 8px 0px;
}

.forget a{
    color: white;
}

.account{
    color: #cccccc;
    padding: 16px 0px;
}

.account a{
    color: white;
}

.term{
    color: #cccccc;
    font-size: 12px;
}

.term a{
    color: #cccccc;
}

/* Thêm một class mới để bọc logo và h1 */
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px; /* Điều chỉnh khoảng cách giữa logo và chữ */
}


